	body {
	    margin: 0;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    background-image: url('images/photo.jpg');
	    background-size: 100%;
	    background-repeat: no-repeat;
	    min-width: 350px;
	}
	
	input[type=text] {
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    box-shadow: 2px 2px 2px rgba(109, 189, 122, 0.719);
	    border: 1px solid rgba(109, 189, 122, 0.719);
	    margin: 50px 0 15px;
	}
	
	.body-container {
	    margin: 0;
	    text-align: center;
	}
	
	.body-container p {
	    font-size: 16px;
	    padding-bottom: 5px;
	}
	
	.head-text {
	    padding-top: 60px;
	    margin-bottom: -10px;
	    font-size: 36px;
	}
	
	#confirm-players {
	    font-size: 30px;
	    margin: 10px 0 5px;
	    padding-bottom: 10px;
	}
	
	#get-started-button {
	    font-size: 18px;
	    font-weight: 10%;
	    border: none;
	    width: 150px;
	    word-spacing: 2px;
	    border-radius: 5px;
	    height: 40px;
	    background-color: green;
	    color: white
	}
	
	.continue-button {
	    font-size: 18px;
	    word-spacing: 2px;
	    border: none;
	    width: 200px;
	    border-radius: 5px;
	    height: 40px;
	    background-color: green;
	    color: white
	}
	
	#get-started-button:hover,
	.continue-button:hover,
	#initiate-battle:hover {
	    background-color: darkgreen;
	}
	
	.github-username {
	    width: 60%;
	    height: 35px;
	    padding: 10px;
	    margin: 20px 0 15px;
	    color: green;
	}
	
	.github-username:focus,
	.github-username:hover {
	    outline: 0.5px solid rgba(109, 189, 122, 0.719);
	}
	
	.score {
	    font-size: 16px;
	    font-weight: bold;
	    padding: 5px;
	    text-align: center;
	    display: none;
	}
	
	#player-one,
	#player-two {
	    display: none;
	}
	
	#confirm-page,
	#winner {
	    display: none;
	    padding: 5px 20px;
	    margin: auto;
	}
	
	#initiate-battle,
	#play-again {
	    font-size: 18px;
	    border: none;
	    width: 200px;
	    border-radius: 5px;
	    word-spacing: 2px;
	    letter-spacing: 0.4px;
	    height: 40px;
	    background-color: green;
	    color: white;
	    margin: 15px auto 5px;
	}
	
	#reselect-players {
	    font-size: 18px;
	    border: none;
	    word-spacing: 2px;
	    letter-spacing: 0.4px;
	    width: 240px;
	    border-radius: 5px;
	    height: 35px;
	    background-color: cornflowerblue;
	    color: white;
	    margin: 10px auto;
	}
	
	#control-buttons {
	    display: none;
	}
	
	#reselect-players:hover {
	    background-color: darkslateblue;
	}
	
	#userDiv {
	    width: 65%;
	    margin: auto;
	    border: 3px solid green;
	    padding: 10px;
	}
	
	.playersDetails {
	    padding-top: 0;
	    margin-bottom: 0px;
	}
	
	.myUser {
	    margin: auto;
	    float: left;
	}
	
	ul {
	    padding: 0 25px;
	    display: inline-block;
	    width: 30%;
	}
	
	li {
	    list-style: none;
	    padding: 5px;
	    border: 0.2px solid rgba(109, 189, 122, 0.719);
	    text-align: center;
	    font-size: medium;
	    letter-spacing: 0.5px;
	}
	
	li .avatar {
	    border-radius: 50px;
	    height: 100px;
	    width: 100px;
	    padding: 5px;
	}
